body {
  margin:0;
  font-family: Helvetica, Arial;
}

a {
  text-decoration: none;
  color: #1f77b4;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}

h1 {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 300;
  color: #444;
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-top: 20px;
  margin-bottom: 20px;
}

b {
  color: #d62828;
}

#container {
  margin: auto;
}

#instructions {
  margin-top:20px;
  width: 700px;
  margin: auto;
}

button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

#svg-wrap {
  margin-top:10px;
}

#signature {
  text-align: center;
}

/*graph styling*/
svg {
  cursor: crosshair;
  display: block;
  margin:auto;
  border: 1px solid #eee;
}

.edge {
  stroke: #888;
  stroke-width:2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: default;
}

.edge:hover, .dragLine {
  stroke: #333;
  stroke-width: 3px;
}

.vertex {
  cursor: pointer;
}

.vertex:hover {
  stroke: #333;
  opacity: 0.8;
}

.dragLine.hidden {
	stroke-width:0;
}
